@import url('https://fonts.googleapis.com/css?family=Fira+Mono&subset=latin-ext');

body {
	font-family: sans-serif;
	font-size: 120%;
	line-height: 1.5;
	margin: 0.5em 1em;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2em;
	font-weight: 800;
	line-height: 1.1em;
	margin: 0;
}

h2 {
	font-size: 1.5em;
	font-weight: 200;
	line-height: 1.1em;
	margin: 0.2em 0;
}

h3 {
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.1em;
	margin: 0.2em 0;
}

p {
	margin: 1em 0;
}

h1+p, h2+p, h3+p {
	margin-top: 0;
}

.home-page-splash {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__avatar {
		margin: 0 auto;
	}
}

.home-page-listing {
	text-align: center;

	&__entries {
		display: inline-flex;
		flex-direction: column;
		text-align: left;
	}

	&__entry {
		align-items: baseline;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 0.5em;
	}

	&__date {
		color: #999;
		font-size: 0.9em;
		font-weight: 300;
		margin-right: 0.5em;
		min-width: 6em;
		text-align: right;
	}

	&__title {
		font-size: 2em;
		font-weight: 800;
		line-height: 1.1;
	}
}

.article-title {
	align-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 50em;

	&__logo {
		margin-right: 1.0em;
	}

	&__text {
		margin: 0.05em;
	}

	&__date {
		color: #999;
		font-size: 0.9em;
		font-weight: 300;
	}
}

.article {
	margin: 0 auto;
	max-width: 50em;
}
